# Python
__pycache__/
*.py[cod]

# Django
*.log
*.pot
db.sqlite3
*.sqlite3
media/
staticfiles/

# Virtual Environments
env/
venv/
ENV/
*.env
*.venv
.env

# Vercel
.vercel/

# IDEs
.vscode/
.idea/

# Build
build/
dist/

# OS
.DS_Store

# Local settings
local_settings.py
